.btn {
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 5px;
  background-color: #eee;
  cursor: pointer;
  display: block;
  text-align: center;
}
.btn:hover {
  background-color: #fafafa;
}
.btn--no-margin {
  margin-bottom: 0;
}